<div th:fragment="logout-dropdown-list">
    <div class="logout-dropdown-list float-right">
        <span sec:authentication="name"></span>
        <button class="btn btn-light btn-md dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu">
            <div class="custom-dropdown-item float-right">
                <form action="#" th:action="@{/logout}" method="POST">
                    <input type="submit" value="Logout" class="dropdown-item custom-dropdown-item">
                </form>
            </div>
        </div>
    </div>
</div>