<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>Confirmation</title>
    <div th:replace="fragments/head :: head"></div>
</head>

<body class="body-confirm-form">
<div th:replace="fragments/logout-dropdown-list :: logout-dropdown-list"></div>

<div class="container"><br><br>
    <h4 id="logo">Confirmation</h4>
    <form th:action="@{/loans/save-updated-form}" th:object="${loan}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <div id="dropdown-accept-reject">
            <select th:field="*{status}" class="btn btn-light col-1 offset-sm-9 font-button">
                <option th:value='Accepted' th:text="Accept"></option>
                <option th:value='Rejected' th:text="Reject"></option>
            </select>
        </div>

        <button type="submit" id=update-button class="btn btn-light col-1 offset-sm-9 font-button">Update</button>

        <div class="row">
            <span class="col-sm-11 offset-md-4">

                <div class="custom-font"> Sales price</div>
                <input type="text" th:field="*{salesPrice}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Down payment</div>
                <input type="text" th:field="*{downPayment}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Mortgage term</div>
                <input type="text" th:field="*{mortgageTerm}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Monthly income</div>
                <input type="text" th:field="*{monthlyIncome}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Monthly commitment</div>
                <input type="text" th:field="*{monthlyCommitment}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> First name</div>
                <input type="text" th:field="*{firstName}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Last name</div>
                <input type="text" th:field="*{lastName}"
                       class="form-control mb-4 col-4 custom-font">

                <div class="custom-font"> Phone number</div>
                <input type="text" th:field="*{phoneNumber}"
                       class="form-control mb-4 col-4 custom-font">
            </span>
        </div>
    </form>
    <hr>
    <a th:href="@{/loans/list}" class="btn btn-light col-1 offset-sm-9 font-button">
        Return
    </a>
    <br><br>
</div>
<div th:replace="fragments/dropdown-list-js :: dropdown-list-js"></div>
</body>
</html>